<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUhLoQ1yrJEzB0aZXCXKC6dAsr2JX-CLs</string>
	<key>GCM_SENDER_ID</key>
	<string>441100151917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozcan.AppCore</string>
	<key>PROJECT_ID</key>
	<string>appcore-834cb</string>
	<key>STORAGE_BUCKET</key>
	<string>appcore-834cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441100151917:ios:9f2dd142824ec902f92364</string>
</dict>
</plist>